$light-color: #FAEFEE;
$light-color-trans: rgba(250, 239, 238, 0.6);
$main-color-light:#EADCDB;
$main-color: #D4B7B5;
$main-color-dark: #94807F;
$main-color-dark-trans: rgba(148, 128, 127, 0.582);
$dark-color:#544948;
$gray-color: #e9e7e7;

/*Generellt*/
.link {
    text-decoration: none;
}

mark {
    background-color: transparent !important;
}

iframe {
    border: 10px solid white;
    width: 100%;
    height: 100%;

}

.text-align-left {
    text-align: left;
}

.dark--text {
    color: $dark-color;
}

.main-dark--text {
    color: $main-color-dark !important;
}

.full-width {
    width: 100%;
}

.relative {
    position: relative;
}

.large-btn-80 {
    width: 80%;
}

.large-btn-60 {
    width: 70% !important;
}

.img-border {
    border: 10px solid white;
}

/*Färger*/
.main-bg {
    background-color: $main-color;
}

.light-bg {
    background-color: $light-color;
}

.main-light-bg {
    background-color: $main-color-light;
}

.main-dark-bg {
    background-color: $main-color-dark;

}

.dark-bg {
    background-color: $dark-color;
}

.gray-bg {
    background-color: $gray-color;
}


// ÖVrigt
.button-wrap {
    width: 100%;
}




// carousel 
.slide-card_title {
    justify-content: center;
    padding: 10px;
    background-color: white;

    &:hover {
        background-color: $light-color;
    }

}

.slide-card_box {
    display: flex;
    position: relative;
    z-index: 7;
    top: 22px;
    justify-content: center;
    width: 60%;
    margin: 0 auto;

}

.carousel {
    width: 100%;

    height: auto;
}

.slide {
    margin-bottom: 25px;
    cursor: pointer;
    padding: 0 15px;


}

.VueCarousel-dot-container {
    margin-top: 0 !important;
}

.VueCarousel-dot {
    background-color: gray !important;
}

.VueCarousel-dot--active {
    background-color: black !important;
}


#app>div>main>div>div>section:nth-child(4)>div>div.gallery-container.gray-bg>div>section>div>div>div>div>section>div.VueCarousel-wrapper>div>div {
    padding: 10px;
}

// .paginationColor {
//     background-color: fuchsia;
// }


/*Hero*/

.hero-pic-on-top {
    position: absolute;
    bottom: -50px;
    right: 0px;
    z-index: 2;
}

/*intro-card*/

.intro-card_title {
    justify-content: center;
    padding: 15px;
    background-color: $main-color-light;
}

.intro-card_box {
    display: flex;
    position: relative;
    z-index: 2;
    top: -35px;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.intro-card_img {
    height: auto;
    width: 100%;
    // margin: 0 10px !important;
    border: 10px solid white;
}

.intro-card_border {
    border: 10px solid white;
}


.intro-card:hover {
    background-color: $main-color;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.text-dark-bg {
    background-color: $dark-color;
    padding: 2px 30px;
}

/*About*/


/*sellingpoint*/
.selling-img {
    height: auto;

}

// contact
.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}


/*Gallery*/
.earlier-work {
    width: 100%;
}
.box {
    width: 100%;
    height: 100%;
    background-color: $light-color;
    border:10px solid white;
    padding:70px 0;
}
.black-box {
    width: 240px;
    height: 400px;
    background-color: #000;
    margin: 0 auto;
}

.gallery-container {
    width: 100%;
    height: auto;
    /* background-color: green; */
    position: relative;
    // background-color: $;
    top: -60px;
    z-index: 4;
    left: 0;

    h2 span {
        position: relative;
        top: -60px;
    }
}

.gallery-wrap {
    /* padding: 30px; */
    height: auto;
    margin: 200px 0 0 0 !important;
    position: relative;
    /* z-index: 3; */
}


// NAV 
.nav_icon-btn {
    padding: 0 0 !important;
}

.nav-btn {
    height: 100%;
    font-size: 1em !important;
}

.top {
    z-index: 999 !important;
}

.menu-headings {
    position: relative;
    right: 0;
}

.bm-menu {
    z-index: 1001 !important;
    padding: 0 !important;
    background-color: $gray-color !important;
    box-shadow: 0 0 10px $main-color-dark-trans !important;

}

.bm-burger-button {
    z-index: 1000;
    height: 20px;
    width: 26px;
    position: fixed !important;
    right: 20px !important;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 15px !important;
    cursor: pointer;
}

.submenu-wrap {

    // padding: 0 0px 20px 0px !important;
    &:hover {
        color: $main-color !important;
        cursor: pointer;
    }
}

.bm-item-list {
    color: $main-color-dark;
    font-size: 20px;
    margin-left: 0 !important;
}


.service-icon {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}

/* .list-item:focus {
    color: teal !important;
  } */

.menu-wrap {
    display: block !important;
    width: 300px;
    position: relative !important;
    margin-top: 20px !important;
    right: 0 !important;
    padding: 0 20px !important;
    // text-align: center;
}

.menu-heading {
    margin: 0 !important;
    color: #cacada;
    font-weight: 500;
    font-size: 1.1em;
}

.quick-contact {
    font-size: 0.8em;
    filter: opacity(0.3);
}

.submenu-cont {
    margin: 10px 0 !important;
    padding: 10px 7px;
}


.v-footer {
    margin-top: -60px;
}

@media (min-width: 1200px) {
    .hero-text {
        padding-left: 40px;
    }

    .hero-pic-under {
        position: absolute;
        /* left:5%; */
        z-index: 1;
    }

    .hero-pic-on-top {
        position: absolute;
        bottom: -50px;
        right: 100px;
        z-index: 2;
    }

}

@media (min-width: 960px) {
    .hero-text {
        padding-left: 40px;
    }

    .hero-pic-under {
        position: absolute;
        /* left:5%; */
        z-index: 1;
    }

    .hero-pic-on-top {
        position: absolute;
        bottom: -50px;
        right: 0;
        z-index: 2;
    }

    .d-my-5 {
        margin: 5% 0;
    }
}

@media (max-width: 960px) {
    .hero-pic-under {
        position: absolute;
        left: 5%;
        z-index: 1;
    }

    .hero-pic-on-top {
        position: absolute;
        bottom: -20px;
        right: -2%;
        z-index: 2;
    }
}

@media (max-width: 700px) {
    mark {
        background-color: $light-color-trans !important;
        padding: 0px 14px;
    }

    .display-4 {
        font-size: 20vw !important;
    }

    .display-3 {
        font-size: 12vw !important;
        line-height: 50px !important;
    }

    iframe {
        height: 400px;
    }

    .slide-card_title {
        background-color: white;

    }

    .slide-card_box {
        width: 100%;
    }

    .carousel {
        width: 100%;
        height: auto;
    }

    .slide {
        margin-bottom: 25px;
        cursor: pointer;
        padding: 0 2px;
    }

    .VueCarousel-dot-container {
        margin-top: -30px !important;
    }

}