@charset "UTF-8";
#app > div > main > div > div > section:nth-child(4) > div > div.gallery-container.gray-bg > div > section > div > div > div > div > section > div.VueCarousel-wrapper > div > div {
  padding: 10px;
}

.paginationColor {
  background-color: fuchsia;
}

/*Generellt*/
.link {
  text-decoration: none;
}

mark {
  background-color: transparent !important;
}

iframe {
  border: 10px solid white;
  width: 100%;
  height: 100%;
}

.text-align-left {
  text-align: left;
}

.dark--text {
  color: #544948;
}

.main-dark--text {
  color: #94807F !important;
}

.full-width {
  width: 100%;
}

.relative {
  position: relative;
}

.large-btn-80 {
  width: 80%;
}

.large-btn-60 {
  width: 70% !important;
}

.img-border {
  border: 10px solid white;
}

/*Färger*/
.main-bg {
  background-color: #D4B7B5;
}

.light-bg {
  background-color: #FAEFEE;
}

.main-light-bg {
  background-color: #EADCDB;
}

.main-dark-bg {
  background-color: #94807F;
}

.dark-bg {
  background-color: #544948;
}

.gray-bg {
  background-color: #e9e7e7;
}

.slide-card_title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  background-color: white;
}

.slide-card_title:hover {
  background-color: #FAEFEE;
}

.slide-card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 7;
  top: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.carousel {
  width: 100%;
  height: auto;
}

.slide {
  margin-bottom: 25px;
  cursor: pointer;
  padding: 0 15px;
}

.VueCarousel-dot-container {
  margin-top: 0 !important;
}

.VueCarousel-dot {
  background-color: gray !important;
}

.VueCarousel-dot--active {
  background-color: black !important;
}

/*Hero*/
.hero-pic-on-top {
  position: absolute;
  bottom: -50px;
  right: 0px;
  z-index: 2;
}

/*intro-card*/
.intro-card_title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background-color: #EADCDB;
}

.intro-card_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  top: -35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
  margin: 0 auto;
}

.intro-card_img {
  height: auto;
  width: 100%;
  border: 10px solid white;
}

.intro-card_border {
  border: 10px solid white;
}

.intro-card:hover {
  background-color: #D4B7B5;
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.text-dark-bg {
  background-color: #544948;
  padding: 2px 30px;
}

/*About*/
/*sellingpoint*/
.selling-img {
  height: auto;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*Gallery*/
.earlier-work {
  width: 100%;
}

.gallery-container {
  width: 100%;
  height: auto;
  /* background-color: green; */
  position: relative;
  top: -60px;
  z-index: 4;
  left: 0;
}

.gallery-container h2 span {
  position: relative;
  top: -60px;
}

.gallery-wrap {
  /* padding: 30px; */
  height: auto;
  margin: 200px 0 0 0 !important;
  position: relative;
  /* z-index: 3; */
}

@media (min-width: 1200px) {
  .hero-text {
    padding-left: 40px;
  }
  .hero-pic-under {
    position: absolute;
    /* left:5%; */
    z-index: 1;
  }
  .hero-pic-on-top {
    position: absolute;
    bottom: -50px;
    right: 100px;
    z-index: 2;
  }
}

@media (min-width: 960px) {
  .hero-text {
    padding-left: 40px;
  }
  .hero-pic-under {
    position: absolute;
    /* left:5%; */
    z-index: 1;
  }
  .hero-pic-on-top {
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 2;
  }
  .d-my-5 {
    margin: 5% 0;
  }
}

@media (max-width: 960px) {
  .hero-pic-under {
    position: absolute;
    left: 5%;
    z-index: 1;
  }
  .hero-pic-on-top {
    position: absolute;
    bottom: -50px;
    right: -2%;
    z-index: 2;
  }
}

@media (max-width: 700px) {
  mark {
    background-color: rgba(250, 239, 238, 0.6) !important;
    padding: 0px 14px;
  }
  .display-4 {
    font-size: 20vw !important;
  }
  .display-3 {
    font-size: 14vw !important;
  }
}
/*# sourceMappingURL=style.css.map */